{
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": ["@semantic-release/github"],
  "success": [
    {
      "path": "@semantic-release/github",
      "successComment": ":tada: This issue has been resolved in version ${nextRelease.version} :tada:\n\n${releases.filter(rel =>!!rel.name).length > 0 ? `\n\nThe release is available on${releases.filter(rel => !!rel.name).length === 1 ? ` ${releases.filter(rel => !!rel.name)[0].url ? `[${releases.filter(rel => !!rel.name)[0].name}](${releases.filter(rel => !!rel.name)[0].url})` : `${releases.filter(rel => !!rel.name)[0].name}`}` : `:\n${releases.filter(release => !!release.name).map(releaseInfo => `- ${releaseInfo.url ? `[${releaseInfo.name}](${releaseInfo.url})` : `${releaseInfo.name}`}`).join('\n')}`}`: ''}"
    }
  ],
  "fail": ["@semantic-release/github"],

  "branch": "master",
  "npmPublish": false
}
