{
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": [],
  "success": [
    {
      "path": "@semantic-release/exec",
      "cmd": "git checkout dev"
    },
    {
      "path": "@semantic-release/exec",
      "cmd": "git rebase --onto master"
    },
    {
      "path": "@semantic-release/exec",
      "cmd": "git push origin dev"
    }
  ],
  "fail": [],
  "branch": "master",
  "npmPublish": false
}
